extends layout

block content
  if user
    h1= "Welcome back"
    a(href="/logout") Logout 
  else
    h1= "Sign in"
    form(action="/login" method="POST")
      label(for="username") Username  
      input(name="username" placeholder="username" type="text")
      label(for="password") Password  
      input(name="password" type="text")
      button Log in